*{
    margin: 0px;
    padding: 0px;
  }
  .title{
    background-color:lightsalmon;
    text-align: center;
  }
  .title1{
    background-color: lightseagreen;
  
  }
  .menu{
    
    background-color: lightgrey;
    display: block;
    text-decoration: none;
   
  }
  .navi ul{
    background-color: rgb(60, 255, 0);
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  .nav ul lis{
      float: left;
  }
  .torta {
    height: 400px;
    width: 500px;
  }


  
  

  
  
